<?xml version='1.0' encoding='utf-8'?>
<widget id="absensifmipa.ahmar.id" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>eAbsensi FMIPA</name>
    <description>
        Presensi Kehadiran FMIPA UNM
    </description>
    <author email="ansari@ahmar.id" href="http://www.ahmar.id">
        Ansari Saleh Ahmar
    </author>
    <content src="index.html" />
    <access origin="*" />
	<access origin="https://absensi.fmipa.unm.ac.id/*" />
	<access origin="http://absensi.fmipa.unm.ac.id/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="./res/icon/android/mipmap-xxxmdpi/eabsensimipa_launcher.png" />
        <icon density="hdpi" src="./res/icon/android/mipmap-xxxhdpi/eabsensimipa_launcher.png" />
        <icon density="xhdpi" src="./res/icon/android/mipmap-xxxhdpi/eabsensimipa_launcher.png" />
        <icon density="xxhdpi" src="./res/icon/android/mipmap-xxxhdpi/eabsensimipa_launcher.png" />
        <icon density="xxxhdpi" src="./res/icon/android/mipmap-xxxhdpi/eabsensimipa_launcher.png" />
        
	   <preference name="android-minSdkVersion" value="14" />
	   <preference name="android-targetSdkVersion" value="29" /> 
	   <preference name="phonegap-version" value="cli-9.0.0" />
    </platform>

    <platform name="ios">
			  <preference name="Orientation" value="all" />
			  <icon src="./res/icon/ios/eabsensimipa_launcher.png" platform="ios" width="180" height="180" />
    </platform>

	<plugin name="cordova-plugin-device" spec="2.0.3" />
	<plugin name="cordova-plugin-inappbrowser" spec="2.0.2" />
	<plugin name="cordova-plugin-local-notification" spec="0.9.0-beta.3" />
	<plugin name="cordova-plugin-whitelist" spec="1.3.4" />
	
<!--
	<plugin name="cordova-plugin-media-capture" spec="1.4.1" />

  <plugin name="cordova-plugin-media-capture" source="npm" spec="1.4.1" >
    <variable name="CAMERA_USAGE_DESCRIPTION" value="App would like to access the camera." />
    <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
  </plugin>

  <preference name="GOOGLE_MAPS_ANDROID_API_KEY" value="AIzaSyByk0KLTzm6gkP9a8SYTYwwJ0qHlbTfRi8" />
-->
  
</widget>
